<%= form_tag findPassword_path do %>
<div class="find_pass_container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col s12 m2 center"><%= label_tag :email %></div>
    <div class="col s12 m8"><%= email_field_tag :email , "", :required => false %></div>
    <div class="col s12 m2"></div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col s12 m4"></div>
    <div class="col s12 m2"><%= submit_tag "Send e-mail" ,:class =>"waves-effect waves-light btn" %></div>
    <div class="col s12 m2"><%= submit_tag "Cancel" , :class =>"waves-effect waves-light btn" %></div>
    <div class="col s12 m4"></div>
  </div>
</div>
<% end %>
