<!DOCTYPE html>
<html>
<head>
  <title>ProjectErrorCollector</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:scucess] %>
  <h1> <%= flash[:scucess]  %> </h1>
<% end %>
<% if flash[:error] %>
  <h1> <%= flash[:error]  %> </h1>
<% end %>

  <div class="title_container">
    <h1>Title layer</h1>
  </div>

<%= yield %>

</body>
</html>
