<!DOCTYPE html>
<html>
<head>
  <title>ProjectErrorCollector</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'error_collector', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:success] %>
  <h1> <%= flash[:success]  %> </h1>
<% end %>
<% if flash[:error] %>
  <h1> <%= flash[:error]  %> </h1>
<% end %>
  <div class="title_container">
    <h1>Error Collector</h1>
  </div>
  <% if @current_user.present? %>
  <nav>
    <span style="display:inline-block; width: 1%;"></span>
    <%= link_to("Home" , main_path()) %>
    <span style="display:inline-block; width: 1%;"></span>
    <%= link_to("Profile" , user_edit_path()) %>
    <span style="display:inline-block; width: 2%;"></span>
    <%= link_to("Write Error" , error_new_path()) %>
    <span style="display:inline-block; width: 2%;"></span>
    <%= link_to("My List" , main_path()) %>
    <span style="display:inline-block; width: 2%;"></span>
    <%= link_to("See Top Rank" , main_path()) %>
    <span style="display:inline-block; width: 35%;"></span>
    <%= link_to("Log Out : #{@current_user.email} " , logout_path(), :method => :delete )%>
  </nav>
  <% end %>

<%= yield %>

</body>
</html>
