<div class="main_container">

  <% @errors.each do |e| %>
  <div class="message_container">
    <p>writer : <%= User.find_by_id(e.user_id).first_name %> </p>
    <p>date : <%= e.updated_at %> </p>
    <p>laguage :<%= Area.find_by_id(e.area_id).name %>-<%= Language.find_by_id(e.language_id).name %> </p>
    <p>image : </p>
    <p>content : <%= e.content %></p>
  </div>
  <% end %>
</div>
