<% unless @error.errors.full_messages.empty? %>
  <% @error.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @error , url: error_new_path(),:method => :post, :html => { :multipart => true } do |f| %>
<%= f.label :image %>
 <%= f.cl_image_upload(:image) %>
<p>
  <%= f.label :area_id %>
    <%= f.collection_select(:area_id, @areas, :id, :name) %>
  <%= f.label :language_id %>
  <%= f.collection_select(:language_id, @languages, :id, :name) %>
</p>
<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>
<%= f.submit "OK" %>
<%= f.submit "Cancel" %> <br>
<%= f.submit "Delete" %>
<% end %>
